  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
        <p class="text-center gray-800 text-4xl mb-8">All Products</p>

      <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Category</th>
            <th class="px-4 py-3">Price</th>
            <th class="px-4 py-3">Image</th>
            <th class="px-4 py-3">Options</th>
          </tr>
        </thead>
        <tbody class="bg-white">


            {{#each products}}
          <tr class="text-gray-700">
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold text-black">{{this.Name}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">{{this.Category}}</td>
            <td class="px-4 py-3 text-ms font-semibold border">
              Rs. {{this.Price}}
            </td>
            <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div class="relative w-20 h-20 mr-3 md:block">
                    <img class="object-cover w-full h-full rounded" src="/images/product-images/{{this._id}}.png" alt="" loading="lazy" />
                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                  </div>
                </div>
              </td>
            <td class="px-4 py-3 text-sm border">
                <a href="/delete-product/{{this._id}}" class="p-2 pl-5 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg focus:border-4 border-blue-300">
                    <i class="fas fa-trash"></i>
                </a>
                <a href="/edit-product/{{this._id}}" class="p-2 pl-5 pr-5 bg-red-500 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
          </tr>
          {{/each}}









      
                  <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>