<h1 class="text-center text-2xl my-5">Orders</h1>
<div class="flex justify-center">
    <table class="table-auto">

        <thead class="w-9/12 overflow-x-auto">
            <tr>
                <th class="border-b-2 border-gray-700 py-2">Date</th>
                <th class="border-b-2 border-gray-700 py-2">Address</th>
                <th class="border-b-2 border-gray-700 py-2">Pincode</th>
                <th class="border-b-2 border-gray-700 py-2">Mobile</th>
                <th class="border-b-2 border-gray-700 py-2">Amount</th>
                <th class="border-b-2 border-gray-700 py-2">Payment</th>
                <th class="border-b-2 border-gray-700 py-2">Action</th>
            </tr>
        </thead>

        <tbody class="overflow-x-auto">


            {{#each orders}}
            <tr class="border-b-2 border-gray-400">
                <td class="px-6 py-2">{{UNDEFINED}}</td>
                <td class="px-6 py-2">{{this.delivery.address}}</td>
                <td class="px-6 py-2">{{this.delivery.pincode}}</td>
                <td class="px-6 py-2">{{this.delivery.mobile}}</td>
                <td class="px-6 py-2">{{this.totoalAmount}}</td>
                <td class="px-6 py-2">{{this.paymentMethod}}</td>
                <td class="px-6 py-2">{{this.status}}</td>
            </tr>
            {{/each}}

        </tbody>

    </table>
</div>