<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}

            <div class="col-md p-3">
                <div class="card" style="width: 15rem; height:24rem;">
                    <img 
                    src="/images/product-images/{{this.product._id}}.png" 
                    alt=""
                    style="height: 12rem;"
                    >
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.Name}}</h5>
                        <p class="card-text">Rs.{{this.product.Price}}</p>
                        <p class="card-text">Quantity: {{this.quantity}}</p>
                        <p class="card-text">{{this.Description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script>
    
</script>




<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">



      {{#each products}}
      <div class="group shadow-lg rounded">
        <div
          class="w-full aspect-w-1 aspect-h-1 border border-gray-200 bg-gray-200 overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="/images/product-images/{{this._id}}.png"
            alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
            class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <div class="p-4">
          <h3 class="mt-4 text-lg text-gray-700">
            {{this.product.Name}}
          </h3>
          <p class="mt-1 text-lg font-medium text-gray-900">
            Rs. {{this.product.Price}}
          </p>
          <p class="mt-1 text-lg font-medium text-gray-900">Quantity: {{this.quantity}}</p>
          <p class="mt-1 text-lg font-medium text-gray-900">{{this.Description}}</p>
        </div>
      </div>
      {{/each}}



      <!-- More products... -->
    </div>
  </div>
</div>